In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import csv

In [2]:
def extract(urlPage):
    driver = webdriver.Chrome('C:\\Users\\Tran Huu An\\Documents\\chromedriver.exe')
    driver.get(urlPage)
    time.sleep(3)
    return driver

In [3]:
def scrollBar(driver):
    SCROLL_PAUSE_TIME = 0.5

    last_height = driver.execute_script("return document.body.scrollHeight")
    numberHeightPage = last_height -1000
    scrollPage = "window.scrollBy(0," + str(numberHeightPage) + ")"
    driver.execute_script(scrollPage,"")

In [4]:
def getData(driver):
    try:
        title = driver.find_element_by_class_name("jobsearch-JobInfoHeader-title-container").text
    except:
        title = None
    
    
    try:
        salary = driver.find_element_by_class_name("jobsearch-JobDescriptionSection-sectionItem").text
    except:
        salary = None
        
    try: 
        description = driver.find_element_by_id("jobDescriptionText").text
    except:
        description = None
    tweet = (title, salary, description)
    return tweet

In [28]:
# driver = extract("https://jobs.vn.indeed.com/company/The-Color-Club-Company-Limited/jobs/Project-Management-Intern-b96c75e07d147fe1?fccid=5b59988dbd0bfb24&vjs=3")

# scrollBar(driver)

# data = getData(driver)

with open('dataInDeed.csv', 'w', newline='', encoding='utf-8') as f:
    header = ['title', 'salary', 'description']
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [26]:
data

('Project Management Intern',
 'Salary\n5,000,000 VNĐ a month',
 'Our Company\nThe Color Club is a well-established marketing company with a data-driven approach to driving brand growth. We customize marketing solutions to fit global marketing plans and budgets within Marketing Production, Digital Marketing, Brand Marketing and Business Intelligence.\nWe aim high, constantly doing more and doing better for our Scandinavian clients to support their worldwide brand marketing performance. Markets change and business directions transform, and so evolve our operations in Scandinavia and Asia.\nYour role\nYou will be liaising between our marketing production teams and the clients, handling day-to-day projects’ operations to deliver quality outputs in a timely manner. What you get to work on and manage will develop naturally as you progress further in your career at The Color Club.\nResponsibilities\nEnglish or Danish communication is a must\nObtain materials from the clients & liaise with production teams to book staff and resources for projects.\nMonitor progress and resources, making sure projects‘ milestones are reached, and outputs meet requirements (volume, time, quality).\nBrand Management System (BMS) Operation: Prepare, create, and manage accurate data on the company’s project management system. Create and enter data to maintain comprehensive project documentation.\nLiaise between clients and production teams to fulfill clients‘ specifications and requirements.\nInvoice finalization: Prepare invoices for the completed projects before handing them over to the accounting department.\nWorking schedule\nYou will be working in shifts to engage with our clients around the world who operate in different time zones from ours. Shifts will be rotated weekly, and arranged by team leader:\nMorning shift: 10:00 AM - 6:00 PM\nEvening shift: 03:00 PM – 11:00 PM\nCareer Path\nWorking in an international environment, with the opportunities to develop a partnership with global clients, our Project Coordinator can develop new skill sets or finetune their existing capabilities to nurture plenty of career options:\nProject Management\nProduction Management\nAdministration\nEntrepreneurship\nSystem & Data Analysis\nRequirements\nAble to communicate in English in both verbal and written forms at an intermediate level.\nProactive, willing to learn and have a growth mindset.\nAbility to work under pressure and meet tight deadlines.\nAttuned to technology. Experience using project management systems, MS Office and Google Ecosystem is a big advantage.\nExcellent organizational skills and attention to details.\nWe offer\nExciting international & professional working environment.\nExtensive learning & development programs including training and coaching.\nFlat hierarchies and cross-departmental collaboration.\nFree lunch/dinner together at the company.\nWould you like to join us on our journey?\nIf you think that you would be a great fit to our role, please apply by submitting your information as required below\nJob Types: Full-time, Temporary, Internship, Contract\nPay: Up to 5,000,000₫ per month\nAbility to commute/relocate:\nHo Chi Minh City: Reliably commute or planning to relocate before starting work (Required)')

In [29]:
data1 = []

In [30]:
type(data1)

list

In [31]:
data1.append(0)

In [32]:
data1

[0]

In [5]:
Data = []
with open('url1.txt', 'r') as f:
    for link in range(347):
        driver = extract(f.readline())
        scrollBar(driver)
        data = getData(driver)
        driver.close()
        time.sleep(3)
        print(link)
        Data.append(data)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345

InvalidArgumentException: Message: invalid argument
  (Session info: chrome=108.0.5359.126)

In [6]:
len(Data)

346

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(Data)

In [10]:
df.rename(columns = {0: 'title'}, inplace = True)
df.rename(columns = {1:'salary'}, inplace = True)
df.rename(columns = {2:'description'}, inplace = True)

In [11]:
df.head()

,title,salary,description
0,Service Delivery Manager – Well Intervention (...,None,Service Delivery Manager – Well Intervention (...
1,Associate Risk Assurance (IT Risk),None,Line of Service\nAssurance\nIndustry/Sector\nN...
2,"Database Administrator (SQL, Oracle)",None,"Database Administrator (SQL, Oracle)\nTimo\nỨn..."
3,Senior HRIS Executive,None,Ninja Van is a tech-enabled logistics company ...
4,Key Account Manager,None,Design solutions to drive safe living and qual...

In [13]:
data = pd.read_csv("DataInDeed.csv")

In [14]:
data = data.drop('Unnamed: 0', axis=1)

In [15]:
data

,title,salary,description
0,"Cloud Inside Sales Representative, Vietnam",NaN,Acronis is a world leader in cyber protection—...
1,Technical Engineer,NaN,Technical Support Engineer\nResponsibilities\n...
2,Voice Over Lte/5G Software Engineer,NaN,Mô tả công việc:\n(Mức lương: Thỏa thuận)\nPro...
3,Driver Operations Intern,Job Type\nInternship,Lalamove is disrupting the logistics industry ...
4,Security Compliance Analyst,NaN,OPSWAT is a global cyber security company prov...
...,...,...,...
655,Country Business Director - Power Tools Division,NaN,Company Description\n\nThe Bosch Group is a le...
656,Flutter Developer,NaN,"Job Description\nParticipate in analysis, desi..."
657,AWS Cloud Solutions Architect,NaN,Khối / Ban\nKhối Dịch vụ Công nghệ Ngân hàng\n...
658,SOFTWARE ENGINEER (JAVA),NaN,Responsibilities and Duties\n\nDevelopment on ...
659,"Cloud Inside Sales Representative, Vietnam",NaN,Acronis is a world leader in cyber protection—...

In [39]:
df1.tail()

,title,salary,description,0,1,2
476,NaN,NaN,NaN,Country Business Director - Power Tools Division,NaN,Company Description\n\nThe Bosch Group is a le...
477,NaN,NaN,NaN,Flutter Developer,NaN,"Job Description\nParticipate in analysis, desi..."
478,NaN,NaN,NaN,AWS Cloud Solutions Architect,NaN,Khối / Ban\nKhối Dịch vụ Công nghệ Ngân hàng\n...
479,NaN,NaN,NaN,SOFTWARE ENGINEER (JAVA),NaN,Responsibilities and Duties\n\nDevelopment on ...
480,NaN,NaN,NaN,"Cloud Inside Sales Representative, Vietnam",NaN,Acronis is a world leader in cyber protection—...

In [46]:
# df.rename(columns = {0: 'title'}, inplace = True)
# df.rename(columns = {1:'salary'}, inplace = True)
# df.rename(columns = {2:'description'}, inplace = True)

data.rename(columns = {'0':'title'}, inplace = True)
data.rename(columns = {'1':'salary'}, inplace = True)
data.rename(columns = {'2':'description'}, inplace = True)

In [12]:
data.columns

AttributeError: 'tuple' object has no attribute 'columns'

In [16]:
df1 = pd.concat([df, data])

In [17]:
df1

,title,salary,description
0,Service Delivery Manager – Well Intervention (...,None,Service Delivery Manager – Well Intervention (...
1,Associate Risk Assurance (IT Risk),None,Line of Service\nAssurance\nIndustry/Sector\nN...
2,"Database Administrator (SQL, Oracle)",None,"Database Administrator (SQL, Oracle)\nTimo\nỨn..."
3,Senior HRIS Executive,None,Ninja Van is a tech-enabled logistics company ...
4,Key Account Manager,None,Design solutions to drive safe living and qual...
...,...,...,...
655,Country Business Director - Power Tools Division,NaN,Company Description\n\nThe Bosch Group is a le...
656,Flutter Developer,NaN,"Job Description\nParticipate in analysis, desi..."
657,AWS Cloud Solutions Architect,NaN,Khối / Ban\nKhối Dịch vụ Công nghệ Ngân hàng\n...
658,SOFTWARE ENGINEER (JAVA),NaN,Responsibilities and Duties\n\nDevelopment on ...
659,"Cloud Inside Sales Representative, Vietnam",NaN,Acronis is a world leader in cyber protection—...

In [18]:
df1.to_csv('DataInDeed.csv')